*background: #1F2430
*foreground: #FFFFFF
*cursorColor: #FFFFFF

*color0: #1F2430
*color8: #666666
*color1: #685742
*color9: #685743
*color2: #FFCC66
*color10: #FFCC66
*color3: #B36D43
*color11: #B36D43
*color4: #FFCC66
*color12: #FFCC66
*color5: #D99F57
*color13: #D99F57
*color6: #00B0D4
*color14: #00B0D4
*color7: #FFFFFF
*color15: #E8E8E8

URxvt.font: xft:Droid Sans Mono for Powerline:size=8
URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder: 5
URxvt*geometry: 70x19
